body {
  margin: 0 auto;
}

   /*login css*/
.outside-container{
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.loginPage-Container{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: white;
  max-width: 360px;
  margin-left:35%;
  margin-right:35%;
  margin-top:50px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 50%;
  border-radius: 10px;
}



  .login-container {
    display: flex;
    flex-direction: column;
  }
  .login-container input {
    text-align: center;
  }

  .register-container {
    display: flex;
    flex-direction: column;
  }
  .register-container input {
    text-align: center;
  }

/*login page buttons css*/
#login-button{
  font-family: "Roboto", sans-serif;
  margin-right:25%;
  margin-bottom:20px;
  outline: 0;
  width: 30%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  background-color: #82c8a0;
  box-shadow:
  0 0 0 1px #82c8a0 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 8px 0 0 rgba(126, 194, 155, .7),
  0 8px 0 1px rgba(0,0,0,.4),
  0 8px 8px 1px rgba(0,0,0,0.5);

}

#login-button:active {
  box-shadow:
  0 0 0 1px #82c8a0 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 0 0 1px rgba(0,0,0,0.4);
  }


  #login-btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  background-color: #82c8a0;
  box-shadow:
  0 0 0 1px #82c8a0 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 8px 0 0 rgba(126, 194, 155, .7),
  0 8px 0 1px rgba(0,0,0,.4),
  0 8px 8px 1px rgba(0,0,0,0.5);
}

#login-btn:active {
  box-shadow:
  0 0 0 1px #82c8a0 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 0 0 1px rgba(0,0,0,0.4);
  }

/*register button css */

#register-button{
  font-family: "Roboto", sans-serif;
  margin-bottom:20px;
  outline: 0;
  width: 30%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  background-color: #82c8a0;
  box-shadow:
  0 0 0 1px #82c8a0 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 8px 0 0 rgba(126, 194, 155, .7),
  0 8px 0 1px rgba(0,0,0,.4),
  0 8px 8px 1px rgba(0,0,0,0.5);

}

#register-button:active {
  box-shadow:
  0 0 0 1px #82c8a0 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 0 0 1px rgba(0,0,0,0.4);
  }

/*end of login css*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  background-color: white;
}

  .header h1 {
    margin-left: 60px;
    padding: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    margin-right: 500px;
    height: 34px;
    border-radius: 3px;
    border: solid 1px #cccccc
  }

  .header .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 50px;
    text-align: center;
    margin-right: 40%;
  }

  .header input {
    text-align: center;
    width:200px;
  }

  .header button {
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 1px;
    border: solid 1px #cccccc;
    font-size: 15px;
    background-color: #430098;
  }

.allvenues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .allvenues .venue-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: white;
    border: 1px solid black;
    padding-left: 450px;
    background-color: #FF4338; }
  .allvenues .venue-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 800px;
    width: 70%;
    overflow: scroll; }
  .allvenues .venue-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 30%;
    height: 500px; }

  .allvenues .venue-edit {
    display: flex;
    flex-direction: column;
  }
  .edit-box-container {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 150px;
  }
.venue-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.venue-container {
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  height: 200px;
  width: 25%;
  margin: 5px 0;
  text-align: center; }
  .venue-container .venue-container-header {
    border: 1px solid red;
    text-align: center;
    background-color: red;
    color: white; }
  .venue-container .venue-container-footer {
    color: #6ac8ee;
    font-size: 10px;
    font-weight: bold;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .venue-container .venue-count {
    font-size: 20px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.logo{
  height:100%;
  width:15%;
}

.venue-name{
  color:#430098;
  border-bottom: 4px solid #FF4338;

    color: #430098;
    display: inline-block;
    font-size: 20px;
    font-family: ProximaNovaBold;
    text-transform: uppercase;
    margin:0;
}

.venue-address {
  font-size: 25px;
  text-align: center;
  font-weight: 100%;
}
